svg {
  display: block;
  margin: 20px;
  background-color: #eee;
}

.satu {
  background-color: #ddd;
  width: 300px;
  height: 300px;
}

.kotak1 {
  width: 100px;
  height: 100px;
  fill: salmon;
}
